:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0 0% 7%);
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

body > * {
  max-width: 90%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  border-radius: 0.3rem;
  overflow: hidden;
}

ul > :not(:first-child) {
  border-top: 1px solid hsl(0 0% 35% / 0.3);
}

li {
  background-color: hsl(0 0% 15%);
  padding: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

button {
  cursor: pointer;
  border: none;
}

button.button--delete-todo {
  background-color: inherit;
  color: hsl(0 80% 50% / 0.6);
}

.form {
  min-width: 340px;
}

.form > * + * {
  display: block;
  margin-top: 1.5rem;
}

input {
  width: 100%;
  background-color: hsl(0 0% 15%);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
